In [ ]:
# Scrape Mars weather data

from splinter import Browser
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
browser = Browser('chrome')

In [ ]:
# Bring up the website
url = "https://static.bc-edx.com/data/web/mars_facts/temperature.html"
browser.visit(url)

In [ ]:
# Create soup
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [ ]:
# Extract table data
rows = soup.find_all('tr', class_="data-row")

In [ ]:
# Create an empty list
list_of_rows = []

# Loop through and save values
for row in rows:
    td = row.find_all('td')
    row = [col.text for col in td]
    list_of_rows.append(row)

In [ ]:
# Convert to dataframe
df = pd.DataFrame(list_of_rows, columns = ["id", "terrestrial_date", "sol", "ls", "month", "min_temp", "pressure"])

In [ ]:
# Check it out
df.head()

In [ ]:
# Examine data types
df.dtypes

In [ ]:
# Change data types for data analysis
df.terrestrial_date = pd.to_datetime(df.terrestrial_date)
df.sol = df.sol.astype('int')
df.ls = df.ls.astype('int')
df.month = df.month.astype('int')
df.min_temp = df.min_temp.astype('float')
df.pressure = df.pressure.astype('float')

In [ ]:
# Confirm type changes
df.dtypes

In [ ]:
# 1. How many months are there on Mars?
df["month"].value_counts().sort_index()

In [ ]:
# 2. How many Martian days' worth of data are there?
df.sol.nunique()

In [ ]:
# 3. What is the average low temperature by month?
min_temp_by_month = df.groupby('month')['min_temp'].mean()
print(min_temp_by_month)

In [ ]:
# Plot the average temperature by month
min_temp_by_month.plot(kind='bar')
plt.ylabel('Temperature in Celsius')
plt.show()

In [ ]:
# Identify the coldest and hottest months in Curiosity's location
min_temp_by_month.sort_values().plot(kind='bar')
plt.ylabel('Temperature in Celsius')
plt.show()

In [ ]:
# 4. Average pressure by Martian month
pressure_by_month = df.groupby('month')['pressure'].mean()
print(pressure_by_month)

In [ ]:
# Plot the average pressure by month
pressure_by_month.sort_values().plot(kind='bar')
plt.ylabel('Atmospheric Pressure')
plt.show()

In [ ]:
# 5. How many terrestrial (earth) days are there in a Martian year?
df.min_temp.plot()
plt.xlabel('Number of terrestrial days')
plt.ylabel('Minimum temperature')
plt.show()

In [ ]:
# Write data to a CSV
df.to_csv('mars_data.csv', index=False)

In [ ]:
browser.quit()